@font-face {
  font-family: "pokemon";
  src: url("./font/Pokemon\ Classic.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700;800&display=swap");

:root {
  /* color main */
  --color1: #23272a;
  --color2: #2c2f33;
  --color3: #ffffff;
  --color4: #99aab5;
  --color5: #7289da;
  --color6: #ee4e36;
  --color7: #ffd73e;
}

* .r6 {
  color: var(--color6);
}

* .r7 {
  color: var(--color7);
}

* .r5 {
  color: var(--color5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "pokemon", sans-serif;
  text-decoration: none;
  transition: all 0.5s ease;
}

body {
  background-color: var(--color1);
}

/* global include start.html */
.container {
  max-width: 960px;
  margin: auto;
  height: inherit;
}

.hide {
  display: none;
}

/* main tag */
main {
  background-color: var(--color2);
  padding-top: 50px;
  padding-bottom: 77px;
}

/* aside */
.app-wrapper {
  display: flex;
}

.app-wrapper .left-aside {
  flex: 1;
}

.left-aside .btn-search-wrapper {
  height: 60px;
  background-color: var(--color1);
  margin-bottom: 25px;
  padding: 10px;
}

.btn-search-wrapper input {
  width: 235px;
  height: 40px;
  margin-right: 12px;
  padding: 5px;
  font-size: 10px;
  border: none;
  outline: none;
}

.btn-search-wrapper button {
  width: 40px;
  height: 40px;
  float: right;
  border: none;
  background-color: var(--color3);
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.btn-search-wrapper button:hover {
  background-color: var(--color5);
}

.btn-search-wrapper button img {
  width: 30px;
  height: 30px;
}

.left-aside .detail-char-wrapper {
  height: 547px;
  background-color: var(--color1);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail-char-wrapper img {
  height: 200px;
  padding: 20px;
}

.detail-char-wrapper p {
  text-align: center;
  color: var(--color3);
  font-size: 10px;
}

.detail-char-wrapper .table-wrapper {
  height: 249px;
  background-color: var(--color2);
  padding: 20px;
}

.table-wrapper tr {
  font-size: 8px;
  color: var(--color3);
}

.table-wrapper tr td {
  max-width: 125px;
  overflow: hidden;
}

/* aside-end */

/* right content */
.error-message {
  width: 200px;
  height: 200px;
  margin: auto;
  color: var(--color2);
}
.error-message img {
  width: 200px;
  filter: grayscale(100%);
  filter: opacity(5%);
}

.app-wrapper .right-content {
  flex: 2;
  background-color: var(--color1);
  height: 693px;
}

.right-content .content-header {
  height: 61px;
  background-color: var(--color6);
  color: var(--color3);
  text-align: center;
}
.content-header p {
  font-size: 16px;
  line-height: 60px;
}

.right-content .content-main {
  height: 571px;
  padding: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  overflow: scroll;
}
.content-main .poke-card {
  width: 135px;
  height: 150px;
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}

.poke-card:hover {
  filter: grayscale();
}

.poke-card img {
  width: inherit;
  height: 120px;
}

.poke-card .poke-name {
  width: inherit;
  height: 30px;
  color: var(--color1);
  background-color: var(--color3);
  text-align: center;
}

.poke-name p {
  font-size: 10px;
  line-height: 30px;
}

.right-content .content-footer {
  height: 61px;
  background-color: var(--color6);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-footer .previous-button {
  transform: scaleX(-1);

  cursor: pointer;
}

.content-footer .page-number-wrapper {
  display: flex;
  text-align: center;
}

.page-number-wrapper .page-number {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-color: var(--color7);
  color: var(--color1);
  list-style: none;
  font-size: 12px;
  line-height: 30px;
}

.page-number-wrapper .page-number.current {
  background-color: var(--color4);
}

.content-footer .name-hover {
  display: inline-block;
  width: 125px;
  font-size: 10px;
}

.content-footer .count-result {
  font-size: 10px;
}

.content-footer .next-button {
  cursor: pointer;
}
/* right content-end */

/* global media query */
@media (max-width: 960px) {
  .container {
    padding: 0 26px;
  }
}

/* right content */
@media (max-width: 960px) {
  .right-content .content-footer .name-hover {
    display: none;
  }
}

@media (max-width: 790px) {
  .app-wrapper {
    flex-direction: column-reverse;
  }
  .app-wrapper .right-content {
    margin-bottom: 25px;
  }
  .content-footer .count-result {
    display: none;
  }

  .left-aside .detail-char-wrapper {
    margin: auto;
  }

  .left-aside .btn-search-wrapper {
    display: flex;
  }
  .btn-search-wrapper input {
    width: 100%;
  }
}

@media (min-width: 790px) {
  .app-wrapper .right-content {
    width: 640px;
    margin-left: 25px;
  }
  .left-aside .btn-search-wrapper {
    width: 309px;
  }
  .left-aside .detail-char-wrapper {
    width: 309px;
  }
}
