@font-face {
  font-family: "pokemon";
  src: url("./font/Pokemon\ Classic.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700;800&display=swap");

:root {
  /* color main */
  --color1: #23272a;
  --color2: #2c2f33;
  --color3: #ffffff;
  --color4: #99aab5;
  --color5: #7289da;
  --color6: #ee4e36;
  --color7: #ffd73e;

  /* pokemon color */
  --fire: #ee8130;
  --grass: #7ac74c;
  --eletric: #f7d02c;
  --water: #6390f0;
  --ground: #e2bf65;
  --rock: #b6a136;
  --fairy: #d685ad;
  --poison: #a33ea1;
  --bug: #a6b91a;
  --dragon: #6f35fc;
  --psychic: #f95587;
  --flying: #a98ff3;
  --fighting: #c22e28;
  --normal: #a8a77a;
  --ice: #96d9d6;
  --ghost: #735797;
  --dark: #705746;
  --steel: #b7b7ce;
}

* .r6 {
  color: var(--color6);
}

* .r7 {
  color: var(--color7);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "pokemon", sans-serif;
  text-decoration: none;
  transition: all 0.5s ease;
}

body {
  background-color: var(--color1);
}
.container {
  max-width: 960px;
  margin: auto;
  height: inherit;
}

.hide {
  display: none;
}

/* global media query */
@media (max-width: 960px) {
  .container {
    padding: 0 26px;
  }
}
